$colors: (

    white: #FFFFFF,
    black: #000000,
    primary-rg: #206BFF,
    primary-hv: #0053FA,
    ui-green: #79FFB8,

    // Colors
    red: #FF0B45,
    green: #00d575,

    // Light Themed
    link-rg: #0053FA,
    link-hv: #0042C7,
    ink-1:   #545B63,
    ink-2:   #444A50,
    ink-3:   #0B0C0E,
    sheet-1: #FFFFFF, // Highlight
    sheet-2: #F9FAFB, // Subject
    sheet-3: #F3F4F6, // Foreground
    sheet-4: #EEEFF1, // Middlgeground
    sheet-5: #E3E5E8, // Background
    sheet-6: #D6D8DC, // Shaded
    edge-1:  #D8DADE,
    edge-2:  #C8CBD0,

    // Dark Themed
    link-rg-i: #4785FF,
    link-hv-i: #70A0FF,
    ink-1-i:   #838995,
    ink-2-i:   #A9ACB1,
    ink-3-i:   #FFFFFF,
    sheet-1-i: #232A39, // Highlight
    sheet-2-i: #1C2331, // Subject
    sheet-3-i: #151C28, // Foreground
    sheet-4-i: #0F141F, // Middlgeground
    sheet-5-i: #080D17, // Background
    sheet-6-i: #02060D, // Shaded
    edge-1-i:  #313A4F,
    edge-2-i:  #1F2533,
    
);