@use "colors" as *;

$gradients: (

    fade-right: linear-gradient(90deg, rgba(var(--sheet-5), 0) 0%, rgba(var(--sheet-5), 1) 100%),
    fade-down:  linear-gradient(180deg, rgba(var(--sheet-5), 0) 0%, rgba(var(--sheet-5), 1) 100%),

    fade-right-i: linear-gradient(90deg, rgba(var(--sheet-5-i), 0) 0%, rgba(var(--sheet-5-i), 1) 100%),
    fade-left-i:  linear-gradient(-90deg, rgba(var(--sheet-5-i), 0) 0%, rgba(var(--sheet-5-i), 1) 100%),
    fade-down-i:  linear-gradient(180deg, rgba(var(--sheet-5-i), 0) 0%, rgba(var(--sheet-5-i), 1) 100%),

    fade-right-sheet-4: linear-gradient(90deg, rgba(var(--sheet-4), 0) 0%, rgba(var(--sheet-4), 1) 100%),
    fade-left-sheet-4:  linear-gradient(90deg, rgba(var(--sheet-4), 1) 0%, rgba(var(--sheet-4), 0) 100%),

    radial-in-down-sheet-2: radial-gradient(200% 100% at 50% 0%, rgba(var(--sheet-2), 1) 0%, rgba(var(--sheet-2), 0) 100%),
    radial-in-down-sheet-2-i: radial-gradient(200% 100% at 50% 0%, rgba(var(--sheet-2-i), 1) 0%, rgba(var(--sheet-2-i), 0) 100%),
    radial-out-down-sheet-4:  radial-gradient(100% 100% at 50% 0%, rgba(var(--sheet-4), 0) 0%, rgba(var(--sheet-4), 1) 100%),

    fade-up-out-sheet-4-i:  linear-gradient(0deg, rgba(var(--sheet-4-i), 0) 0%, rgba(var(--sheet-4-i), 1) 100%),

    link-gradient-h: linear-gradient(90deg, rgba(var(--link-rg), 1) 0%, rgba(var(--link-rg-i), 1) 100%),

);
